<div class="new-reminder-inputs edit">

  {{input value=model.title class="input-title"}}
  {{input value=model.body class="input-body"}}

  <button{{action 'saveReminder'}} class="submit-button">Submit</button>

</div>

