<div>
  {{input placeholder="title" value=title class="input-title"}}
  <br>
  {{input placeholder="body" value=body class="input-body"}}

  <button{{action 'submitReminder'}} class="submit-button">Submit</button>
</div>

{{outlet}}
