<h1>REMEMBER LEONARDO</h1>

{{#if model}}
  {{#each model as |reminder|}}
    {{#link-to 'reminders.reminder' reminder}}
      <div class='reminder-item'>
        <h3>{{reminder.title}}</h3>
      </div>
    {{/link-to}}
  {{/each}}
{{else}}
  <h2 class='reminder-message'>No reminders found, please create one!</h2>
{{/if}}

{{#link-to 'reminders.new'}}
  <button class="new-reminder-button">New Reminder</button>
{{/link-to}}


{{outlet}}
